<p id="notice"><%= notice %></p>

<%= image_tag @portfolio_item.thamb_img %>
<p>
  <strong>Title </strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Sub Title:</strong>
  <%= @portfolio_item.sub_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @portfolio_item.body %>
</p>

<p><strong>Technologies:</strong></p>

<%= @portfolio_item.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>

<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %> |
<%= link_to 'Back', portfolios_path %>